@import "setup";

body {
	margin: 0 auto;
	width: 80%;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.65;
	background-image: url('../images/background.png');
	color: #fdd980;

	h1 {
		font-size: 35px;
		font-weight: 400;
	}

	p {
		font-size: 20px;
		font-weight: 200;
	}
}

.demo-wrapper {
	margin-top: 50px;
}

.snippet,
.render {
	width: 100%;
	min-height: 180px;
	max-width: 100%;
	border: 1px solid rgba(0,0,0,0.45);
	padding: 20px 40px;
	margin-bottom: 50px;
	font-size: 20px;
}

.render {
	p {
		color: initial;
		font-size: 18px;
	}
}